##### 1.Write a program that will find all numbers which are divisible by 7 but are not a multiple of 5, between 2000 annd 3200(both included). The numbers obtained should be printed in a list

In [5]:
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        print(i)

2002
2009
2016
2023
2037
2044
2051
2058
2072
2079
2086
2093
2107
2114
2121
2128
2142
2149
2156
2163
2177
2184
2191
2198
2212
2219
2226
2233
2247
2254
2261
2268
2282
2289
2296
2303
2317
2324
2331
2338
2352
2359
2366
2373
2387
2394
2401
2408
2422
2429
2436
2443
2457
2464
2471
2478
2492
2499
2506
2513
2527
2534
2541
2548
2562
2569
2576
2583
2597
2604
2611
2618
2632
2639
2646
2653
2667
2674
2681
2688
2702
2709
2716
2723
2737
2744
2751
2758
2772
2779
2786
2793
2807
2814
2821
2828
2842
2849
2856
2863
2877
2884
2891
2898
2912
2919
2926
2933
2947
2954
2961
2968
2982
2989
2996
3003
3017
3024
3031
3038
3052
3059
3066
3073
3087
3094
3101
3108
3122
3129
3136
3143
3157
3164
3171
3178
3192
3199

##### 2.Write a program that can compute the factorial of a given number. 2.

In [11]:
total = 1

In [14]:
for nums in range(1, 6):
    total = total * nums

In [15]:
total

120

##### 3. With a given integer n, write a prgram to generate a dictionary that contains(i  * i  * i) such that it is an integral number between 1 and n(both included). Then, the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [55]:
{t : t ** 2 for t in range(1, 8)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

##### answer

In [58]:
n = int(input('n:'))
integral_num = {t : t ** 2 for t in range(1, n)}
print(integral_num)

n:6
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### 4.Given a non-empty string and an integral n, return a new string where the char at index n has been removed. The value of n will be a valid index of a char in the original string (i.e. n will be in the range 0..len(str)-1 inclusive).

In [101]:
def missing_char(str, n):
    a = str[:n]
    b = str[n + 1:]
    return a + b

In [102]:
missing_char('Surveying', 3)

'Sureying'

##### 5. Write a NumPy program to convert a NumPy array into a Python list structure. Expected output: 
##### Original array elements: [[0 1] [2 3] [4 5]] 
##### Array to list: [[0, 1], [2, 3], [4, 5]]

In [103]:
import numpy as np

In [106]:
arr_elements = np.array([[0, 1],[2, 3],[4, 5]])

In [107]:
list_elements = arr_elements.tolist()

In [108]:
list_elements

[[0, 1], [2, 3], [4, 5]]

##### 6. Write a NumPy program to compute the covariance matrix of two given arrays. 

##### Original array1: [0 1 2] 

##### Original array2: [2 1 0] 

##### Covariance matrix of the said arrays: [[ 1. -1.] [-1. 1.]]
 

##### Hint: We can use the np.cov() function to calculate the covariance between these two arrays

In [110]:
a = np.array([0, 1, 2])
b = np.array([2, 1, 0])

In [111]:
c = np.cov(a, b)

In [112]:
c

array([[ 1., -1.],
       [-1.,  1.]])

##### 7: Write a program that calculates and prints the value according to the given formula: Q= Square root of [(2 * C * D)/H] 

##### The following are the fixed values of C and H: C is 50. H is 30. 

##### D is the variable whose values should be input into your program in a comma-separated sequence. (That means D contains more than value)
##### Example: Let's assume the following comma-separated input sequence is given to the program: 100,150,180 The output of the program should be 18,22,24

In [284]:
C = 50
H = 30

In [286]:
formular = (input("value D:"))
formular = formular.split(',')
for D in formular:
        Q = int((2 * C * int(D) / H) ** 0.5)
        print(f'{Q}')

value D:100, 150, 180
18
22
24

##### another method

In [287]:
value = input("result D: ")
value = value.split(',')

value_list = []
for D in value:
    Q = int((2 * C * int(D) / H) ** 0.5)
    value_list.append(Q)

print(value_list)

result D: 100, 150, 180
[18, 22, 24]